<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="a200-0791">

  <!-- Common -->
  <xacro:include filename="clearpath_platform_description/urdf/common.urdf.xacro"/>

  <!-- Platform -->
  <xacro:include filename="clearpath_platform_description/urdf/a200/a200.urdf.xacro"/>
  <xacro:a200 wheel="default"/>


  <!-- Attachments -->

  <xacro:include filename="clearpath_platform_description/urdf/a200/attachments/bumper.urdf.xacro"/>
  <xacro:bumper name="front_bumper" model="default" parent_link="front_bumper_mount" extension="0.0">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:bumper>

  <xacro:include filename="clearpath_platform_description/urdf/a200/attachments/bumper.urdf.xacro"/>
  <xacro:bumper name="rear_bumper" model="default" parent_link="rear_bumper_mount" extension="0.0">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:bumper>

  <xacro:include filename="clearpath_platform_description/urdf/a200/attachments/top_plate.urdf.xacro"/>
  <xacro:top_plate name="top_plate" model="default" parent_link="default_mount">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:top_plate>

  <xacro:include filename="$clearpath_platform_description/urdf/a200/attachments/sensor_arch.urdf.xacro"/>
  <xacro:sensor_arch name="sensor_arch" model="sensor_arch_510" parent_link="default_mount">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:sensor_arch>


  <!-- Links -->


  <!-- Mounts -->

  <!-- post_0 -->
  <xacro:include filename="clearpath_mounts_description/urdf/post.urdf.xacro"/>
  <xacro:post name="post_0" parent_link="sensor_arch_mount" model="dual" spacing="0.15" height="0.075">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:post>

  <!-- disk_0 -->
  <xacro:include filename="clearpath_mounts_description/urdf/disk.urdf.xacro"/>
  <xacro:disk name="disk_0" parent_link="post_0_mount">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:disk>


  <!-- Sensors -->

  <!-- lidar3d_0 -->
  <xacro:include filename="clearpath_sensors_description/urdf/velodyne_lidar.urdf.xacro"/>
  <xacro:velodyne_lidar name="lidar3d_0" parent_link="disk_0_mount" ang_res_h="0.4" ang_res_v="2.0" min_ang_h="-3.141592" max_ang_h="3.141592" min_ang_v="-0.261799" max_ang_v="0.261799" min_range="0.9" max_range="130.0" update_rate="50">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:velodyne_lidar>

  <!-- imu_0 -->
  <xacro:include filename="clearpath_sensors_description/urdf/microstrain_imu.urdf.xacro"/>
  <xacro:microstrain_imu name="imu_0" parent_link="base_link" update_rate="100">
    <origin xyz="-0.05 -0.165 0.085" rpy="3.142 0.0 1.571"/>
  </xacro:microstrain_imu>

  <!-- imu_1 -->
  <xacro:include filename="clearpath_sensors_description/urdf/redshift_um7.urdf.xacro"/>
  <xacro:redshift_um7 name="imu_1" parent_link="base_link" update_rate="100">
    <origin xyz="0.01 -0.165 0.085" rpy="3.142 0.0 0.0"/>
  </xacro:redshift_um7>

  <!-- gps_0 -->
  <xacro:include filename="clearpath_sensors_description/urdf/swiftnav_duro.urdf.xacro"/>
  <xacro:swiftnav_duro name="gps_0" parent_link="sensor_arch_mount">
    <origin xyz="0.0 -0.371 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:swiftnav_duro>

  <!-- gps_1 -->
  <xacro:include filename="clearpath_sensors_description/urdf/swiftnav_duro.urdf.xacro"/>
  <xacro:swiftnav_duro name="gps_1" parent_link="sensor_arch_mount">
    <origin xyz="0.0 0.371 0.0" rpy="0.0 0.0 0.0"/>
  </xacro:swiftnav_duro>


  <!-- Manipulators -->


  <!-- Extras -->

  <xacro:include filename="multi_zed_mount.urdf.xacro"/>

</robot>
